header{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: -5px;
    margin-right: 20px;
    margin-bottom: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: -10px;
}
h1{
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size:x-large;
}
li:hover{
    cursor: pointer;
    color: blue;
}
nav{
    width: 60vw;
    margin-top: 3px;
}
.bigImage{
    margin: 1rem;
    width: 95vw;
}
.container{
    display: flex;
    margin-top: 90px;
    justify-content: space-evenly;
}
.container>div{
    text-align: center ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 2rem;
}
p{
    font-size: x-large;
    line-height: 1.5rem;    
}
.footer{
    text-align: center;
    height: 70px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.footer>div{
    background-color: black;
    height: 70px;
    width: 95vw;
}
.footer>div>p{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}